﻿@*@if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Admin"))
        {*@
<div class="row" style="display: flex;">
    <div class="text-center stat-card col-md-6">
        <h2 class="ma-2">Top Restaurants</h2>
        <div id="top-restaurants-chart"></div>
    </div>
</div>
<div class="row" style="display: flex;">
    <div class="text-center stat-card">
        <div class="form-group col">
            <label class="control-label">Month : </label>
            <select id="month" class="form-control" onchange="updateData()" style="width: 10rem"></select>
        </div>
        <div id="avg-seats-per-restaurant"></div>
    </div>
</div>

@*}
    }*@

@section Scripts {
    <script src="~/js/app.js"></script>
    
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <script type="text/javascript">
            $.ajax({
                url: "/Restaurants/MostPopularRestaurants",
                context: document.body
            }).done(function (data) {
                create_pie_chart(data, "#top-restaurants-chart");
            });

            updateData = () => {
                var selectMonth = $('#month').find(":selected")[0].value;

                $.ajax({
                    url: "/Restaurants/AvrageNumberOfSeatsPerRestaurantInMonth?month=" + selectMonth,
                    context: document.body
                }).done(function (data) {
                    create_bar_chart(data, "#avg-seats-per-restaurant");
                });
            };

            initSelect = () => {
                var selectBox = document.getElementById('month');
                var months = [{ value: 1, text: "January" },
                    { value: 2, text: "February" },
                    { value: 3, text: "March" },
                    { value: 4, text: "April" },
                    { value: 5, text: "May" },
                    { value: 6, text: "June" },
                    { value: 7, text: "July" },
                    { value: 8, text: "August" },
                    { value: 9, text: "September" },
                    { value: 10, text: "October" },
                    { value: 11, text: "November" },
                    { value: 12, text: "December" }];

                for (var i = 0, l = months.length; i < l; i++) {
                    var option = months[i];
                    selectBox.options.add(new Option(option.text, option.value, option.value == 1));
                }

                updateData();
            };
            initSelect();
        </script>
    }
}
