﻿@model ColmanWebProject2021.Models.Restaurant

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete this restaurant?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GuestCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GuestCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accessible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accessible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kosher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kosher)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpeningTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClosingTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImgUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImgUrl)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-light"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete </button>
    </form>
</div>
