﻿@model ColmanWebProject2021.Models.Restaurant

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Restaurant</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group space-above-input-row">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group space-above-input-row">
                <label asp-for="Type.Name" class="control-label"></label>
                <select id="restaurantTypeName" name="Type.Name" class="form-control"></select>
            </div>
            <div class="form-group space-above-input-row">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group space-above-input-row">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group space-above-input-row">
                <label asp-for="GuestCapacity" class="control-label"></label>
                <input asp-for="GuestCapacity" class="form-control" />
                <span asp-validation-for="GuestCapacity" class="text-danger"></span>
            </div>
            <div class="form-group space-above-input-row form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Accessible" /> @Html.DisplayNameFor(model => model.Accessible)
                </label>
            </div>
            <div class="form-group space-above-input-row form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Kosher" /> @Html.DisplayNameFor(model => model.Kosher)
                </label>
            </div>
            <div class="form-group space-above-input-row">
                <label asp-for="OpeningTime" class="control-label"></label>
                <input asp-for="OpeningTime" class="form-control" />
                <span asp-validation-for="OpeningTime" class="text-danger"></span>
            </div>
            <div class="form-group space-above-input-row">
                <label asp-for="ClosingTime" class="control-label"></label>
                <input asp-for="ClosingTime" class="form-control" />
                <span asp-validation-for="ClosingTime" class="text-danger"></span>
            </div>
            <div class="form-group space-above-input-row">
                <label asp-for="ImgUrl" class="control-label"></label>
                <input asp-for="ImgUrl" class="form-control" />
                <span asp-validation-for="ImgUrl" class="text-danger"></span>
            </div>
            <div class="form-group space-above-input-row">
                <a asp-action="Index" class="btn btn-light"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        var url = "/Restaurants/GetRestaurantTypes"
        var select = document.getElementById("restaurantTypeName")
        $.ajax({
            type: 'GET',
            url: url,
            contentType: 'json',
            success: function (types) {

                for (var i = 0; i < types.length; i++) {
                    var option = document.createElement("option");
                    option.text = types[i].name;
                    select.add(option);
                }

                select.value = document.getElementById("restaurantTypeName").value;
            }
        })</script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
