﻿@model IEnumerable<ColmanWebProject2021.Models.Restaurant>

@{ ViewData["Title"] = "Our restaurnats"; }

<center>
    <h1>Our restaurnats</h1>
</center>

<div class="row">
    <div class="search-card container">
        <form id="searchForm" class="form-inline filter row">
            <div class="form-group col">
                <label class="control-label" for="restaurantName"><b>Restaurant name : </b></label>
                <input id="nameForm" class="form-control" type="text" name="restaurantName">
            </div>
            <div class="form-group col">
                <input type="hidden" id="type_name" value="@ViewBag.typeName" />
                <label class="control-label" for="typeName"><b>Restaurant type : </b></label>
                <select class="form-control" id="restaurantTypeName" name="typeName">
                    <option value="">All</option>
                </select>
            </div>
            <div class="form-group col">
                <label class="control-label" for="accessibility"><b>Accessibility : </b></label>
                <select class="form-control" id="accessibility" name="accessibility">
                    <option value="">Any</option>
                    <option value="true">Accessible</option>
                    <option value="false">Not Accessible</option>
                </select>
            </div>
        </form>
    </div>
</div>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="row">

        <div onclick="location.href='@Url.Action("Create")'" class="room-card new">
            <h4>
                Add new restaurant
                <span class="glyphicon glyphicon-plus" />
            </h4>
        </div>
    </div>
}
<div id="restaurantsList">
</div>

@section Scripts {
    <script src="~/js/restaurantsList.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
