﻿@model IEnumerable<ColmanWebProject2021.Models.Restaurant>

@{
    int i = 0,j = 0;
    ColmanWebProject2021.Models.Restaurant[] restaurants = Model.ToArray(); 
    }

<div id="restaurantsList">

    @for (i = 0; i * 3 + j < restaurants.Length; i++)
    {
    <div class="row-centered" style="display:flex;">

        @for (; i * 3 + j < restaurants.Length && j < 3; j++)
        {
            Restaurant currRestaurant = restaurants[i * 3 + j];

            <div class="col-sm-4 restaurant_card"
                 style="cursor: pointer;"
                 data-value="@currRestaurant.Id" 
                 onclick="location.href='@Url.Action("Details", new { id=@currRestaurant.Id })'">
                <div class="card-deck">
                    @if (String.IsNullOrEmpty(@currRestaurant.ImgUrl))
                    {
                        <img src="/Content/Restaurants-logos.jpeg" style="width:100%; height:300px;border-radius: 25px;">
                    }
                    else
                    {
                        <img src=@currRestaurant.ImgUrl style="width:100%; height:300px;border-radius: 25px;">
                    }
                    <div>
                        <h3 class="card-title" style="color: white; padding: 1rem; font-weight: bold; text-align:center">@currRestaurant.Name</h3>
                    </div>
                    <div class="card types_card">
                        <div class="card-header">
                            <h5 class="card-header-text" style="padding: 1rem; font-weight: bold;">Description</h5>
                            <hr class="sperator">

                        </div>
                        <div class="card-body">
                            <h3 class="card-title">@currRestaurant.Description</h3>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
        j = 0;
    }


    @if (@Model.Count() == 0)
    {
        <center>
            <h1>No restaurants were found</h1>
        </center>
    }
</div>