﻿@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="row">
    <div class="col-md-12">
        <canvas id="canvas"></canvas>
        <script>
            var canvas = document.getElementById('canvas');
            canvas.style.width = '100%';
            canvas.width = canvas.offsetWidth;

            var context = canvas.getContext('2d');
            var imageObj = new Image();
            imageObj.src = '/Content/white_logo.png';

            imageObj.onload = function () {

                var wrh = imageObj.width / imageObj.height;
                var newWidth = canvas.width;
                var newHeight = newWidth / wrh;
                if (newHeight > canvas.height) {
                    newHeight = canvas.height;
                    newWidth = newHeight * wrh;
                }
                var xOffset = newWidth < canvas.width ? ((canvas.width - newWidth) / 2) : 0;
                var yOffset = newHeight < canvas.height ? ((canvas.height - newHeight) / 2) : 0;

                context.drawImage(imageObj, xOffset, yOffset, newWidth, newHeight);
            };
        </script>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>About us</h2>
        <p class="six-col">
            There are a lot of restaurants spreaded widely around the world.<br /><br />
            <b>Restaurants</b> considered a social and fun place where you can consume your favorite food.<br />
            There are different types of restaurants, so it suitable for everyone!<br /><br />
            In order to make it easy for individuals and groups to get these different restaurants and enjoy high quality time together, we would like to offer you a possibility to view various restaurantsdescriptions, reviews and rates to ease your choise.
        </p>
    </div>
</div>

    <div style="margin-left:20%">
        <video width="700" height="394" controls autoplay loop muted>
            <source src="/Content/Restaurant Stock Footage - Royalty Free.mp4" type="video/mp4">
        </video>
    </div>

    <div style="margin-left: 29%">
        <script>
           window.fbAsyncInit = function () {
                FB.init({
                    appId: '373964617688335',
                    cookie: true,
                    xfbml: true,
                    version: 'v11.0'
                });

                FB.AppEvents.logPageView();

            };

            (function (d) {
                var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement('script'); js.id = id; js.async = true;
                js.src = "//connect.facebook.net/en_US/all.js";
                ref.parentNode.insertBefore(js, ref);
            }(document));

        </script>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

        <div class="fb-page"
             data-href="https://www.facebook.com/Restaurants-101225788921346"
             data-tabs="timeline"
             data-width="1000"
             data-height="600"
             data-small-header="true"
             data-adapt-container-width="false"
             data-hide-cover="false"
             data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/Restaurants-101225788921346" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/Restaurants-101225788921346">Restaurants</a>
            </blockquote>
        </div>
    </div>
<br />
<br />
