﻿@model ColmanWebProject2021.Models.RestaurantType

@{
    ViewData["Title"] = "Details";
}

<div class="restaurant-display" style="cursor: auto;">
    <h1>@Model.Name</h1>
    <hr />

    <div class="row restaurants-container">
        <div class="col-md-12 type_detailstag">
            <span class="glyphicon glyphicon-align-justify"></span>
            <hr />
            @Model.Description
        </div>
    </div>

    <div class="row restaurants-container">
        <div class="col-md-6 type_detailstag" style="width:185px">
            <p>Number of<br>Restaurants</p>
            <hr />
            <p id="num_of_restaurants"></p>
        </div>
        <div class="col-md-6 type_detailstag" style="width:185px">
            Number of orders
            <hr />
            <p id="num_of_orders"></p>
        </div>
    </div>

    <div class="row restaurants-container">
        <div id="restaurantsButton" class="col-md-12 restaurant_navtag" style="cursor: pointer;">
            Restaurants list
        </div>
    </div>

    <div style="padding-top:2rem; cursor: auto;">
        <a asp-action="Index" class="btn btn-light"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>

        @if (User.Identity.IsAuthenticated)
        {
            @if (User.IsInRole("Admin"))
                {
                   <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                   <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                }
        }
    </div>
</div>

@section Scripts {
    <script src="~/js/restaurantTypes.js"></script>
}