﻿@model IEnumerable<ColmanWebProject2021.Models.RestaurantType>

@{
    ViewData["Title"] = "Restaurant Types";
}

<center>
    <h1>Restaurant Types</h1>
</center>


<div class="row">
    <div class="search-card container">
        <form id="searchForm" class="form-inline filter row">
            <div class="form-group col">
                <label class="control-label" for="restuarantTypeDescription"> <b>Description Type : </b></label>
                <input class="form-control" id="descriptionForm" type="text" name="restuarantTypeDescription">
            </div>
            <div class="form-group col">
                <label class="control-label" for="restaurantTypeName"><b>Restuarant type name : </b></label>
                <input class="form-control" id="nameForm" type="text" name="restaurantTypeName">
            </div>
        </form>
    </div>
</div>

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Admin"))
        {
            <div onclick="location.href='@Url.Action("Create")'" class="room-card new">
                <h4>
                    Add new restaurant type
                    <span class="glyphicon glyphicon-plus" />
                </h4>
            </div>
        }
    }
</div>

<div id="restaurantTypesList">
</div>

@section Scripts {
    <script src="~/js/restaurantTypesList.js"></script>
}
