﻿@model IEnumerable<ColmanWebProject2021.Models.RestaurantType>

@{int i = 0;
    int j = 0;
    ColmanWebProject2021.Models.RestaurantType selectedType = new ColmanWebProject2021.Models.RestaurantType();
    ColmanWebProject2021.Models.RestaurantType[] restaurantType = Model.ToArray(); }

<div id="restaurantTypesList">

    @for (i = 0; i * 3 + j < restaurantType.Length; i++)
    {
        <div class="row row-centered" style="display:flex;">

            @for (; i * 3 + j < restaurantType.Length && j < 3; j++)
            {
                <div class="col-sm-3 type_contaniner" data-value="@restaurantType[i * 3 + j].Id" onclick="location.href='@Url.Action("Details", new { id=@restaurantType[i * 3 + j].Id })'">
                    <div class="card-deck">
                        <div class="card  types_card" style="margin-top:1rem;">
                            <div class="card-body  text-center" style="height:8em">
                                <h3 class="card-title" style="font-weight: bold;padding: 1rem;">@restaurantType[i * 3 + j].Name</h3>
                            </div>
                        </div>
                        <div class="card  types_card">
                            <div class="card-header">
                                <h5 class="card-header-text" style="padding: 1rem;">Description</h5>
                                <hr class="sperator">

                            </div>
                            <div class="card-body">
                                <h3 class="card-title">@restaurantType[i * 3 + j].Description</h3>
                            </div>
                        </div>


                    </div>
                </div>
            }
        </div>
        j = 0;
    }


    @if (@Model.Count() == 0)
    {
        <div>
            <center>
                <h1>No types were found</h1>
            </center>
        </div>
    }
</div>