﻿.body {
    color: white !important;
}
.wallpaper {
    background-image: url("/content/Wallpaper.jpg");
    /*    background-repeat: no-repeat;*/
    background-size: contain;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    font-family: 'Microsoft JhengHei UI light';
    font-size: 16px;
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.navbar {
    background-color: #155957 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    text-decoration: none !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #f5af2f;
}

.disabled-link {
    cursor: default;
}

nav:hover {
    background-color: #0d3332 !important;
}

li > a {
    color: white;
}

.li > a:hover {
    background-color: white;
}

.navLink {
    color: white;
}

.bd-navbar {
    min-height: 4rem;
    background-color: #563d7c;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.bd-navbar .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    color: #155957;
}

.bd-navbar {
    min-height: 4rem;
    background-color: #155957;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.bd-navbar .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    color: #155957;
}

.navLink {
    color: white;
}

#userHello:hover {
    color: white;
    background-color: transparent;
}

.customNavbar {
    background-color: #155957 !important;
    transition: background-color 0.5s ease;
    padding-right: 15px;
    color: white;
}

canvas {
    border-radius: 4px;
}

nav {
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

h2 {
    text-shadow: 0 2px 1px rgba(0, 138, 255, 0.40);
}

footer {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.form-inline .form-group {
    margin-right: 30px;
}

.filter {
    margin: 1em 0;
}

@media (min-width: 1200px) {
    .container.create_order {
        width: 950px;
    }
}

.col-sm-12, .order_header {
    padding: 0px;
}

.order_det {
    background: rgba(0, 0, 0, 0) !important;
    color: white !important;
    border-color: rgba(0,0,0,0) !important;
    outline: 0px !important;
    -webkit-appearance: none !important;
    box-shadow: none !important;
}

.space-above-input-row {
    margin-top: 1em;
}