﻿@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

.order_card {
    margin: 1rem;
    background-color: rgba(17, 70, 68,0.65);
    margin-left: 3rem;
    padding-top: 1rem;
    border-radius: 35px;
    box-shadow: 2px 2px 15px #000000;
    cursor: pointer;
    transition: .2s;
    width: 28%;
}

.order_card:hover {
    transition: .2s;
    transform: scale(1.05);
}

.res_card_litem {
    border-radius: 20px !important;
    margin: 1rem;
}

.order-search {
    padding-top: 3%;
}

.order_detailstag {
    z-index: 2;
    background: rgba(17, 70, 68,0.9);
    color: white;
    margin: 1rem;
    font-size: 20px;
    width: 400px;
    padding: 1rem;
    border-radius: 50px;
}

.order_resturant_tag {
    transition: .2s;
    z-index: 2;
    background: #d29d2f;
    color: white;
    margin: 1rem;
    font-size: 20px;
    width: 220px;
    padding: 1rem;
    border-radius: 50px;
    box-shadow: 2px 2px 15px #000000;
}