﻿.restaurants-container {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

.restaurant-display {
    margin: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#myMap {
    margin: 1em;
}

.card.types_card {
    background-color: white;
    color: rgb(17, 70, 68);
    border-radius: 20px;
    margin-top: 6%;
}

.card-deck {
    flex-flow: column-reverse;
}

.card-body {
    padding: 1rem;
    height: 23em;
}

.card-header-text {
    text-align: center;
    padding-top: 5px;
}

.stat-card {
    background: #292929;
    margin: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 20px #000000;
    border-radius: 20px;
}

.search-card {
    margin-left: 15px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background: black;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.16), 0 5px 10px rgba(0,0,0,0.23);
    background: rgba(0, 0, 0, 0.6);
}

.restaurant_card {
    margin: 1rem;
    background-color: rgba(17, 70, 68,0.65);
    margin-left: 3rem;
    padding: 1rem;
    border-radius: 35px;
    box-shadow: 2px 2px 15px #000000;
    cursor: pointer;
    transition: .2s;
    width: 28%;
}

    .restaurant_card:hover {
        transition: .2s;
        transform: scale(1.05);
    }

.tag {
    z-index: 2;
    position: absolute;
    background: rgb(17, 70, 68);
    color: white;
    margin: 1rem;
    font-size: 20px;
    min-width: 100px;
    padding: .5rem 2rem;
    border-radius: 999px;
}

.proptag {
    z-index: 2;
    background: rgb(17, 70, 68);
    color: white;
    margin: 1rem;
    font-size: 20px;
    width: 230px;
    padding: .5rem 2rem;
    border-radius: 10px;
}

.typetag {
    transition: .2s;
    z-index: 2;
    background: #d29d2f;
    color: white;
    margin: 1rem;
    font-size: 20px;
    width: 220px;
    padding: .5rem 2rem;
    border-radius: 50px;
    box-shadow: 2px 2px 15px #000000;
}

.typetag:hover {
    transform: scale(1.05);
    transition: .2s;
}

.reservationtag {
    transition: .2s;
    z-index: 2;
    background: #6bf25c;
    color: white;
    margin: 1rem;
    font-size: 20px;
    width: 220px;
    padding: .5rem 2rem;
    border-radius: 50px;
    box-shadow: 2px 2px 15px #000000;
}

    .reservationtag:hover {
        transform: scale(1.05);
        transition: .2s;
    }

.detailstag {
    z-index: 2;
    background: rgb(17, 70, 68);
    color: white;
    margin: 1rem;
    font-size: 20px;
    width: 157px;
    padding: .5rem 2rem;
    border-radius: 50px;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 200px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 999; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 20px; /* 30px from the bottom */
}

    /* Show the snackbar when clicking on a button (class added with JavaScript) */
    #snackbar.show {
        visibility: visible; /* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 0.5s, fadeout 0.5s 3.5s;
        animation: fadein 0.5s, fadeout 0.5s 3.5s;
    }

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 20px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 20px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 20px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 20px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}