﻿.card.types_card {
    background-color: white;
    color: rgb(17, 70, 68);
    border-radius: 20px;
    margin-top: 6%;
}

.card-deck {
    flex-flow: column-reverse;
}
.card-body {
    padding: 1rem;
    height: 23em;
}
.card-header-text {
    text-align: center;
    padding-top: 5px;
}

.type_contaniner {
    padding-bottom: 1em;
    margin: 2em;
    background-color: rgba(17, 70, 68,0.65);
    border-radius: 35px;
    box-shadow: 2px 2px 15px #000000;
    cursor: pointer;
    transition: .2s;
}

    .type_contaniner:hover {
        transition: .2s;
        transform: scale(1.05);
    }

.search-card {
    margin-left: 15px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background: black;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.16), 0 5px 10px rgba(0,0,0,0.23);
    background: rgba(0, 0, 0, 0.6);
}

.room-card.new {
    margin: 0 auto;
    padding-top: 1px;
    background: #359045;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29%;
    height: 50px;
    color: white;
    border-radius: 999px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.16), 0 5px 10px rgba(0,0,0,0.23);
    cursor:pointer;
}

.room-card.banner {
    width: 100%;
    height: 180px;
    overflow-y: hidden;
}

    .room-card.banner:hover {
        transform: none;
        transition: 0s;
        cursor: default;
    }

.room-card > .info {
    text-align: center;
    margin: 1rem 0;
    padding-top: 1rem;
}

.room-card > img {
    width: 100%;
}

.room-card > .info > .location {
}

    .room-card > .info > .location > img {
        width: 12px;
        height: 12px;
        margin-right: -12px;
    }

.room-card > .info > h1, .room-card > .info > h3 {
    margin: 0;
}


.tag {
    z-index: 2;
    position: absolute;
    background: #d29d2f;
    color: white;
    margin: 1rem;
    font-size: 20px;
    min-width: 100px;
    padding: .5rem 2rem;
    border-radius: 999px;
}

.proptag {
    z-index: 2;
}

.reservationtag {
    transition: .2s;
    z-index: 2;
    background: #6bf25c;
    color: white;
    margin: 1rem;
    font-size: 20px;
    width: 220px;
    padding: .5rem 2rem;
    border-radius: 50px;
    box-shadow: 2px 2px 15px #000000;
}

    .reservationtag:hover {
        transform: scale(1.05);
        transition: .2s;
    }



.sperator {
    padding: 0;
    margin: 0;
    border-top: 1px solid rgb(17, 70, 68);
    margin: auto;
    width: 80%;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.type_detailstag {
    z-index: 2;
    background: rgba(17, 70, 68,0.9);
    color: white;
    margin: 1rem;
    font-size: 20px;
    width: 400px;
    padding: 1rem;
    border-radius: 50px;
}

.restaurant_navtag {
    transition: .2s;
    z-index: 2;
    background: #d29d2f;
    color: white;
    margin: 1rem;
    font-size: 20px;
    width: 220px;
    padding: 1rem;
    border-radius: 50px;
    box-shadow: 2px 2px 15px #000000;
}

    .restaurant_navtag:hover {
        transform: scale(1.05);
        transition: .2s;
    }


@keyframes blinker {
    50% {
        opacity: 0;
    }
}
