@model ColmanWebProject2021.Models.Order

<div class="container create_order">
    <div class="row" style="margin-bottom: 2em;">
        <a class="weatherwidget-io" href="https://forecast7.com/en/31d0534d85/israel/" data-label_1="ISRAEL" data-label_2="WEATHER" data-theme="weather_one">ISRAEL WEATHER</a>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3>Make An Order @ViewData["TitleAddition"]</h3>
            <form asp-action="Create">
                <div class="form-group space-above-input-row">
                    <label for="select_seats">Number Of Seats</label>
                    <select asp-for="NumberOfSeats" class="form-control" id="select_seats">
                        <option selected value="1">One person</option>
                        @for (int i = 2; i <= 12; i++)
                        {
                            <option value="@i">@i people</option>
                        }
                    </select>
                </div>
                @if (ViewBag.showRestaurants != null && ViewBag.showRestaurants)
                {
                    @:<div class="form-group space-above-input-row">
                        <label for="select_restaurant">Restaurant</label>
                        @Html.DropDownListFor(model => model.RestaurantId, null, String.Empty, htmlAttributes: new { @class = "form-control", @id = "select_restaurant" });
                    @:</div>
                }
                <div class="form-group space-above-input-row">
                    <label for="input_date">Date And Time</label>
                    <input asp-for="DateTime" class="form-control" id="input_date" />
                    <span asp-validation-for="DateTime" class="text-danger"></span>
                </div>
                <div class="form-group space-above-input-row">
                    <label asp-for="Comments" class="control-label"></label>
                    <input asp-for="Comments" class="form-control" />
                    <span asp-validation-for="Comments" class="text-danger"></span>
                </div>
                <div class="form-group space-above-input-row">
                    <a asp-action="Index" class="btn btn-light"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Order</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        !function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = 'https://weatherwidget.io/js/widget.min.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'weatherwidget-io-js');
    </script>
}
