﻿@model ColmanWebProject2021.Models.Order

@{
    ViewData["Title"] = "Delete";
}

<div class="container create_order">
    <div class="row">
        <div class="col-sm-12">
            <h3>Cancel your order</h3>
            <div>
                <div style="margin-top: 1rem;">
                    <div class="row">
                        <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.DateTime)</label>
                        <div class="col-sm-8">
                            <p type="text">@Html.DisplayFor(model => model.DateTime)</p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.NumberOfSeats)</label>
                        <div class="col-sm-8">
                            <p type="text">@Html.DisplayFor(model => model.NumberOfSeats)</p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.Restaurant)</label>
                        <div class="col-sm-8">
                            <p type="text">@Html.DisplayFor(model => model.Restaurant.Name)</p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.Comments)</label>
                        <div class="col-sm-8">
                            <p type="text">@Html.DisplayFor(model => model.Comments)</p>
                        </div>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="row">
                                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.Customer)</label>
                                <div class="col-sm-8">
                                    <p type="text">@Html.DisplayFor(model => model.Customer.UserName)</p>
                                </div>
                            </div>
                        }
                    }
                </div>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <a asp-action="Index" class="btn btn-light"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
                    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Cancel Order</button>
                </form>
            </div>
        </div>
    </div>
</div>