﻿@model ColmanWebProject2021.Models.Order

@{
    ViewData["Title"] = "Details";
}

<div class="restaurant-display" style="cursor: auto;">
    <h1>Order Details</h1>
    <hr />

    <div class="row restaurants-container">
        <div class="col-md-12 order_resturant_tag">
            @Model.Restaurant.Name
        </div>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Admin"))
        {
            <div class="row restaurants-container">
                <div class="col-md-12 order_detailstag">
                    Customer Name
                    <hr />
                    @Model.Customer.UserName
                </div>
            </div>
        }
    }

    <div class="row restaurants-container">
        <div class="col-md-6 order_detailstag" style="width:185px">
            <p>Number of<br> seats</p>
            <hr />
            @Model.NumberOfSeats
        </div>
        <div class="col-md-6 order_detailstag" style="width:185px">
            Date Time
            <br>
            <br>
            <hr />
            @Model.DateTime
        </div>
    </div>

    <div class="row restaurants-container">
        <div class="col-md-12 order_detailstag">
            Comments
            <hr />
            @Model.Comments
        </div>
    </div>

    <a asp-action="Index" class="btn btn-light"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
    <a href="@string.Format("/Restaurants/Details/{0}", Model.RestaurantId)" class="btn card-b" style="background-color: #d29d2f; color:white"> Visit Restaurant</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a>
</div>

