﻿@model ColmanWebProject2021.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<div class="container create_order">
    <div class="row">
        <div class="col-sm-6">
            <h3>Edit An Order</h3>
            <form asp-action="Edit">
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="form-group space-above-input-row row">
                            <label for="staticCustomer" class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.Customer)</label>
                            <div class="col-sm-8">
                                <input type="text" readonly class="form-control order_det" id="staticCustomer" value="@Html.DisplayFor(model => model.Customer.UserName)">
                            </div>
                        </div>
                    }
                }
                <div class="form-group space-above-input-row">
                    <label for="select_seats">Number Of Seats</label>
                    <select asp-for="NumberOfSeats" class="form-control" id="select_seats">
                        <option selected value="1">One person</option>
                        @for (int i = 2; i <= 12; i++)
                        {
                            <option value="@i">@i people</option>
                        }
                    </select>
                </div>
                <div class="form-group space-above-input-row">
                    <label for="select_restaurant">Restaurant</label>
                    @Html.DropDownListFor(model => model.RestaurantId, null, String.Empty, htmlAttributes: new { @class = "form-control", @id = "select_restaurant" })
                </div>
                <div class="form-group space-above-input-row">
                    <label for="input_date">Date And Time</label>
                    <input asp-for="DateTime" class="form-control" id="input_date" />
                    <span asp-validation-for="DateTime" class="text-danger"></span>
                </div>
                <div class="form-group space-above-input-row">
                    <label asp-for="Comments" class="control-label"></label>
                    <input asp-for="Comments" class="form-control" />
                    <span asp-validation-for="Comments" class="text-danger"></span>
                </div>
                <div class="form-group space-above-input-row">
                    <a asp-action="Index" class="btn btn-light"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
