﻿@model IEnumerable<ColmanWebProject2021.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<center>
    <h1>Your Orders</h1>

    @{
        int i = 0;
        int j = 0;
        Order selectedRes = new Order();
        Order[] res = Model.ToArray();
    }

    <div id="orders">
        <div class="row">
            <div class="search-card form-inline filter" style="padding:1rem;">
                <form id="searchForm" class="row">
                    <div class="form-group col">
                        <label class="control-label" for="restaurantName"><b>Restaurant name : </b></label>
                        <input class="form-control" type="text" name="restaurantName" style="min-width: 140px;">
                    </div>
                    <div class="form-group col">
                        <label class="control-label" for="fromDate"><b>From Date : </b></label>
                        <input name="fromDate" type="date" class="form-control" id="formGroupExampleInput2" placeholder="From Date">
                    </div>
                    <div class="form-group col">
                        <label class="control-label" for="toDate"><b>To Date : </b></label>
                        <input name="toDate" type="date" class="form-control" id="formGroupExampleInput2" placeholder="To Date">
                    </div>
                    <div class="form-group col order-search">
                        <button id="searchButton" type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" style="margin-bottom:1rem;">
            <div onclick="location.href='@Url.Action("Create")'" class="room-card new">
                <h5>Make An Order <span class="glyphicon glyphicon-plus"></span></h5>
            </div>
        </div>

        <div id="ordersList">
        </div>
    </div>
</center>

@section Scripts {
    <script src="~/js/ordersList.js"></script>
}
