﻿@{
    int i = 0;
    int j = 0;
    Order selectedRes = new Order();
    Order[] res = Model.ToArray();
}

<div id="ordersList">
    @for (i = 0; i * 3 + j < res.Length; i++)
    {
        <div class="row-centered" style="display:flex;">

            @for (; i * 3 + j < res.Length && j < 3; j++)
            {
                <div class="col-sm-4 order_card"
                     style="cursor: pointer;"
                     onclick="location.href='@Url.Action("Details", new { id=@res[i * 3 + j].Id })'" data-value="@res[i * 3 + j].Id">
                    <div class="card-deck">
                        @if (String.IsNullOrEmpty(@res[i * 3 + j].Restaurant.ImgUrl))
                        {
                            <img src="/Content/Restaurants-logos.jpeg" style="width:90%; height:300px;border-radius: 25px;">

                        }
                        else 
                        {
                            <img src=@res[i * 3 + j].Restaurant.ImgUrl style="width:90%; height:300px;border-radius: 25px;">
                        }
                        <div>
                            <h3 class="card-title" style="color: white; padding:1rem; font-weight: bold;">@res[i * 3 + j].Restaurant.Name</h3>
                        </div>
                        <ul class="list-group list-group-flush" height="100%">
                            <li class="list-group-item res_card_litem">@res[i * 3 + j].DateTime.ToString()</li>
                            <li class="list-group-item res_card_litem">@res[i * 3 + j].NumberOfSeats Seats</li>
                            <li class="list-group-item res_card_litem">@res[i * 3 + j].Restaurant.Address</li>
                            <div style="padding: 1rem;">
                                <a asp-action="Edit" asp-route-id="@res[i * 3 + j].Id" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a asp-action="Delete" asp-route-id="@res[i * 3 + j].Id" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                            </div>
                        </ul>
                    </div>
                </div>

            }
        </div>
        j = 0;
    }

    @if (res.Length == 0)
    {
        <center>
            <h1>No orders were found</h1>
        </center>
    }
</div>