﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant</title>
    <link rel="icon" href="~/Content/Restaurants-logos.jpeg">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/fonts.css" />
    <link rel="stylesheet" href="~/css/RestaurantTypes.css" />
    <link rel="stylesheet" href="~/css/Restaurants.css" />
    <link rel="stylesheet" href="~/css/Orders.css" />



</head>
<body class="wallpaper">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0" nonce="TZKAX2jB"></script>
    <div class="modal">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 customNavbar">
                <div class="container-fluid">
                    <a class="navbar-brand navLink" asp-controller="Home" asp-action="Index">
                        <img src="~/Content/yellow_logo.png" style="height:60px;width:92px;margin-top:-10px;" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Restaurants" asp-action="Index">Our Restaurants</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="RestaurantTypes" asp-action="Index">Our Types</a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Orders" asp-action="Index">Orders</a>
                                </li>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Restaurants" asp-action="Admin">Stats</a>
                                </li>
                            }
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>

        <div class="container" style="padding-bottom:2rem">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <div class="footer">
            <footer class="footer-copyright text-center py-3">
                &copy;  @DateTime.Now.Year - ColmanWebProject2021 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </footer>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/d3js/dist/d3.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
