﻿@using Microsoft.AspNetCore.Identity
@using ColmanWebProject2021.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    TempData["ReturnUrl"] = ViewBag.ReturnUrl ?? (Context.Request.Path.ToString().Contains("Account") ? string.Empty : Context.Request.Path.ToString());
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="userHello" class="nav-link disabled-link">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-controller="Account" asp-action="Logout">
            <button id="logout" type="submit" class="nav-link btn btn-link">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" id="register" asp-controller="Account" asp-action="Register" asp-route-returnUrl="@TempData["ReturnUrl"]">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="login" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@TempData["ReturnUrl"]">Login</a>
    </li>
}
</ul>
